body {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

/* Header */
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}
.header-logo-accent {
  color: #2e2f42;
}

.list-item-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item-link:hover,
.list-item-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

/* Address */
.address {
  font-style: normal;
}
.address-list-item a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list-item a:hover,
.address-list-item a:focus {
  color: #404bbf;
}

/* Main */

/* Hero Section */
.section-hero {
  background-color: #2e2f42;
}
.section-hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.section-hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.section-hero-button:hover,
.section-hero-button:focus {
  background-color: #404bbf;
}

/* Highlights Section */

.highlights-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.highlights-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team Section */
.squad {
  text-transform: capitalize;
  background-color: #f4f4fd;
}
.squad-main {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.squad-list {
  letter-spacing: 0.02em;
}
.squad-list-item {
  background-color: #ffffff;
}
.squad-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.squad-list-text {
  line-height: 1.5;
}

/* Portfolio Section */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer-content {
  background: #2e2f42;
}
.logo-accent {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo-accent {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-style: normal;
}
